* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background-color: rgb(48, 57, 82);
  overflow-y: scroll;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(89, 98, 117); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 57, 82); 
}

.main h1 {
  margin: 1rem 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(247, 183, 49);
}

.main .add-main-task {
  margin: 1rem 0;
  width: 40%;
}
.main .add-main-task .main-task-input {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
  background-color: transparent;
  border: 2px solid rgb(247, 183, 49);
  color: rgb(247, 183, 49);
  border-radius: 5px;
  width: 75%;
  margin-right: 10px;
}
.main .add-main-task .main-task-input::placeholder {
  color: rgb(247, 183, 49);
  letter-spacing: 1px;
}
.main .add-main-task #main-task-button {
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: rgb(247, 183, 49);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
}

.main .task-list {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.main .task-list .task {
  background-color: rgb(89, 98, 117);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.model-sub-task {
  width: 100%;
  background-color: aqua;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-task {
  width: 25%;
  padding: 1.5rem;
  background-color: rgb(241, 242, 246);
  height: 300px;
  border-radius: 10px;
  text-align: center;
}

.sub-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
  background-color: transparent;
  border: 2px solid rgb(247, 183, 49);
  border-radius: 5px;
  color: rgb(247, 183, 49);
}

.sub-input::placeholder {
  color: rgb(247, 183, 49);
  letter-spacing: 1px;
}

.sub-task-btn {
  background-color: rgb(247, 183, 49) !important;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.task-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 1rem 0;
  text-transform: capitalize;
  color: rgb(247, 183, 49);
}

.add-new-btn {
  background-color: rgb(247, 183, 49) !important;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* margin-bottom: 2rem; */
}

.sub-task-list {
  padding: 5px 10px;
  border-radius: 5px;
  /* margin: 1rem !important; */
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  flex-direction: column;
}
.paragraph {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  initial-letter: 2px;
  color: rgb(247, 183, 49);
  margin: 3px auto;
order: 1;
}

.task-date {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 1rem 0;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 5px;
  color: rgb(247, 183, 49);
}

/* model */

.model {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(89, 98, 117);
}
.model-div {
 
  width: 30%;
  padding: 1.5rem;
  background-color: rgb(48, 57, 82);
  border-radius: 10px;
 
}

.list{
    width: 100%;
    text-align: center;
    background-color: rgb(48, 57, 82);
    margin-top: 25px ;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}
 .operation-btns{
width: 100%;
margin-top: 7px;
display: flex;
justify-content: space-between;

}

.delete-sub-task{
    background-color: rgb(247, 183, 49) !important;
    padding: 6px 9px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-div-btns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-task-delete-btn{
  background-color: rgb(247, 183, 49) !important;
  padding: 6px 9px;
  border: none;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.edit-main-task{
  background-color: rgb(247, 183, 49) !important;
  padding: 6px 9px;
  border: none;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-model{
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(89, 98, 117);
}

.main-task-input{
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
  background-color: transparent;
  border: 2px solid rgb(247, 183, 49);
  color: rgb(247, 183, 49);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.sub-task-input-model{
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(89, 98, 117);
}

.sub-task-dialog{
  width: 30%;
  padding: 1.5rem;
  background-color: rgb(48, 57, 82);
  border-radius: 10px;
 display: flex;
 flex-direction: column;
}
.update-sub-task{
  background-color: rgb(247, 183, 49) !important;
  padding: 6px 9px;
  border: none;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  order: 4 !important;
 width: 25%;
 margin:10px auto;
}
.sorting-operation{
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-evenly;
  text-align: center;
}